section
  h3 Como começar?
  pre
    code.
      1 $ npm install hexo-cli -g
      2 $ hexo init "Name"
      3 $ cd Name/
      4 $ [sudo] npm install
      5 $ hexo generate
      6 $ hexo deploy
      
