section
  section
    h3 Como começar?
    pre
      code.
        $ npm install hexo-cli -g
        $ hexo init "Name"
        $ cd Name/
        $ [sudo] npm install
  section(data-background-image="img/hexo.png")
  section
    h3 Deploy
    pre
      code.
        $ hexo generate
        $ hexo deploy
