section
	section
		img(src="img/hexo-logo.svg")
		div(style="font-family: 'lato';")
			p A fast, simple & powerful blog framework.
			span hexo.io/
	section(data-background-color="#1976d2") 
		h3 Características
		ul 
			li.fragment NodeJS
			li.fragment Open Source
			li.fragment Responsivo
			li.fragment Plugins
			li.fragment Comentários
			li.fragment Temas
			li.fragment Grunt (GULP GANHA FÁCIL)
			li.fragment Stylus <3
			li.fragment ...
	section
		h3 Estrutura
		pre
			code.
				source/
				scaffolds/
				theme/
				-----scripts/
				-----layout/
				-----source/
				-----Gruntfile.js
				-----package.json
				-----_config.yml	
				package.json
				_config.yml 
	section
			pre
				code.
					menu:
					- INICIO: /
					- SOBRE: /about
					- PROJETOS: /projects
					- ARTIGOS: /archives
					widgets:
					- category
					- tag
					- tagcloud
					- archive
					- recent_posts
			span theme/_config.yml
