section
	section
		img(src="img/hexo-logo.svg")
		div(style="font-family: 'lato';")
			p A fast, simple & powerful blog framework
	section 
		h3 Características
		ul 
			li.fragment NodeJS
			li.fragment Rápido
			li.fragment Vários Plugins
			li.fragment Estrutura e configurações bem simples
			li.fragment Grunt (GULP GANHA FÁCIL)
			li.fragment Stylus <3
			li.fragment ...
	section
		h3 Estrutura
		pre 
			code.
				source/
				scaffolds/
				theme/
				-----scripts/
				-----layout/
				-----source/
				-----Gruntfile.js
				-----package.json
				-----_config.yml	
				package.json
				_config.yml  
