section
	section
		h1 Lógica de funcionamento
	section
		h3 Arquivos de Configuração
	section 
		pre
			code.
				title: "Your Title" 
				titleSecondary: "Your Description here..."
				author: "Fulano não sei das quantas" 
				language: "pt-BR"
		span _config.yml
	section 
		h3 Conteúdo
	section
		p.fragment Artigos
	section
		//- img(src="example.image")
	section 
		h3 Templates
	section
		img(src="/img/article_blog.png")
	section 
		img.large-image(src="/img/code.png")
		br
		span article.ejs
	section
		span Imagem gerando e retornando
