section
	section
		h1 Plugins
	section
		ul
			li.fragment Sistema de busca
			li.fragment Paineis de administração
			li.fragment Feed
			li.fragment Mapas
			li.fragment Deploy
			li.fragment ...
	//- section
	//- usar mais exemplos e explicação dos plugins. talvez imagens ou dados etc. falar do hexo server 
	//- FALAR DA RESPOSIVIDADE
	//- icones de deplot
	section
		h3 Deploy
		br
		pre
			code.
				deploy:
					type: git
					repo: https://github.com/username/repositoryName.git
					branch: master
		span _config.yml
			
