section
	section
		h1 Plugins
	section
		ul
			li.fragment Sistema de busca
			li.fragment Paineis de administração
			li.fragment Feed
			li.fragment Sitemap
			li.fragment Mapas
			li.fragment Deploy
			li.fragment ...
			
	section
		h1 Módulos
	section
		ul
			li.fragment UNCSS
			li.fragment Livereload
			li.fragment Imagemin
			li.fragment Spotify/Deezer
			li.fragment CoffeScript
			li.fragment Less/SASS
			li.fragment Jade
			li.fragment ...
			
	section
		h1 Deploy
	section
		pre
			code.
				deploy:
					type: git
					repo: https://github.com/username/repositoryName.git
					branch: master
		span _config.yml
			
