section
	section 
		img(src="../img/hexo-logo.svg")
		div(style="font-family: 'lato';")
			p A fast, simple & powerful blog framework
			//- p Baseado em NodeJS
			//- p Fácil configuração
			//- p Suporte a Markdown
			//- p Vários plugins 
			//- p Totalmente modificavel
