section
	section
		h1 Plugins
		img(src="../img/plugin-icon.png")
	section
		ul
			li.fragment Preprocessadores
			li.fragment Paineis de administração
			li.fragment Feed
			li.fragment Framework
			li.fragment Sistema de busca
			li.fragment Deploy
			li.fragment ...
			
