section(data-background-color="#0E83CD") 
	section
		h1 Gerais 
	section
		ul
			li Padrão da URL
			li Formato de Data
			li Linguagem da página
			li Configurações de plugins
			li ...
	section 
		h1 Específicas
	section
		ul 
			li Itens do Menu
			li Widgets
			li Configuração de contas
			li ...
			
