section
	section
		p Comparado com outros SG 
		p jekyll
		p praticidade / organização parecida com projetos de node NAtivo 
	section 
		p alguns plugins legais
		p paineis de administração 
		p pre processadores
		p contribua com a tool
		p show me code!
		

