section 
	h2 O que são Static Generators
	i  Lorem ipsum dolor sit amet, consectetur adipisicing elit. At distinctio aut cum, repellat excepturi ipsam magnam beatae sunt, quae commodi dolores dolorem vitae nesciunt harum provident laborum, amet qui fugit!
