section 
	h2 O que são Static Generators
	span Falando de forma resumida, geradores estáticos usam várias funcionalidades que estamos acostumados a utilizar nas linguagens de programação, como includes, loopings, templates, entre outras coisas legais. Mas... gera um HTML, sem banco de dados, sem dependências server-side, tudo é gerado em um HTML puro e simples.
