section
	section 
		p o que é ideal para usar 
		p pouca necessidade
	section
		p tipos de lugares onde é melhor usar static Generators
		ul
			li listar os lugares
			li lista os lgares
			li liysbdgvsd


		
