section
	section
		h1 Características
	section(data-background-color="#0E83CD")
		h1 Arquivos de configuração
		br
		pre
			code.
				    _config.yml           //Configurações da página e plugins
	section
		pre
			code.
				title: "Your title page" 
				titlesecondary : "Your description here"
				language: pt-BR
				url: something.github.io
				root: /
				permalink: :year/:month/:title/
				permalink_defaults:
				source_dir: source
				public_dir: public
				tag_dir: tags
				archive_dir: archives
				category_dir: categories
				code_dir: downloads/code
				i18n_dir: :lang
				...				
		p _config.yml
//- section
//- 	section
//- 		h3 Tipos de static generators
//- 		img(src="../img/octopress-logo.png")
//- 	section
//- 		h1 SG - Linguagem
//- 		p  Jekyll  - Ruby 
//- 		p.fragment.grow  Hexo - Node.js 
//- 		p  Spress  - PHP
//- 		p  Pelican - Python
//- 		p  JBake   - Java
//- 		p  Graze   - .NET
//- 		p  ...
//- 		
