section
	section
		h3 Tipos de static generators
		p imagem com logos de static generators espalhados no fundo 
	
	section
		h1 SG - Linguagem
		p  Jekyll  - Ruby 
		p.fragment.grow  Hexo - Node.js 
		p  Spress  - PHP
		p  Pelican - Python
		p  JBake   - Java
		p  Graze   - .NET
		p  ...
		
