section(data-background-color="#26A69A")
	section
		h1 Felipe Sousa
		p  Front end Developer
		p Altum Tecnologia
	section
		h1 contatos
		div.container-img
			img(src='../img/github-logo.png')
			img(src='../img/twitter-logo.png')
			img(src='../img/blog-logo.png')
