section
	section 
		p Onde usar Static Generators
		p POUCA NECESSIDADE
	section
		p tipos de lugares onde é melhor usar static Generators
		ul
			li listar os lugares
			li lista os lgares
			li liysbdgvsd
