section(data-background-transition="slide")
	section(data-background="img/page-docpad.png")
	section(data-background="img/page-jekyll.png")
	section(data-background="img/page-spress.png")
	section(data-background="img/page-jbake.png")
	section(data-background="img/page-pelican.png")
	section(data-background="img/page-hexo.png")
