section 
	h2 O que são Static Generators
	i Geradores estáticos usam várias funcionalidades que 
	i estamos acostumados a utilizar, como includes, loopings, condições, etc.
	i  Porém sem banco de dados, sem dependências server-side, 
	i tudo é gerado para um HTML simples e puro.
