section 
	h2 O que são Static Generators
	i Falando de forma resumida, geradores estáticos usam várias funcionalidades que 
	i estamos acostumados a utilizar nas linguagens de programação,
	i  como includes, loopings, condições, entre outras coisas legais.
	i  Mas... sem banco de dados, sem dependências server-side, 
	i tudo é gerado para um HTML simples e puro.
