doctype html
html
	include inc/head
	body
		.reveal
			.slides
				include ../slides/home
				include ../slides/me
				include ../slides/waths
				include ../slides/why
				include ../slides/wath
				include ../slides/logic
				include ../slides/jackSparrow
				include ../slides/types
				include ../slides/types_images
				include ../slides/hexoJS
				include ../slides/plugins
				include ../slides/example
				include ../slides/ask
				include ../slides/thanks
				include ../slides/contacts
				include ../slides/finish

		include inc/scripts
